<footer>
  <div class="blognav">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo;&nbsp;<span class="smaller">Previous:</span>&nbsp;{{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}"><span class="smaller">Next:</span>&nbsp;{{page.next.title}}&nbsp;&raquo;</a>
    {% endif %}
  </div>
  <hr class="slender">
  <ul class="footer-links">
    {% for social_hash in site.data.social %}
    {% assign social = social_hash[1] %}
      <li>
        <a href="{{ social.prevar }}{{ social.var }}" title="{{ social.alt }}" {% if social.target %}target="{{ social.target }}"{% endif %}><span class="{{ social.icon }}"></span></a>
      </li>
    {% endfor %}  
  </ul>
<div class="credits">
  <span>{{site.author | upcase }} &nbsp;&nbsp;|&nbsp;&nbsp; {{site.subtitle}} <br/> 
  <span class="smaller">{{site.description}} </span><br/>
  <br/>
  {{ site.license-img }}<br/>

  <span class="smaller">&copy;&nbsp;<a href="{{ site.baseurl }}/credits/">{{ site.time | date: '%Y' }}&nbsp;{{ site.author }}</a></span>
</div>  
</footer>