<footer>
  <hr class="slender">
  <ul class="footer-links">
    {% for social_hash in site.data.social %}
    {% assign social = social_hash[1] %}
      <li>
        <a href="{{ social.prevar }}{{ social.var }}" title="{{ social.alt }}"><span class="{{ social.icon }}"></span></a>
      </li>
    {% endfor %}  
  </ul>
<div class="credits">
  <span>{{site.author | upcase }} &nbsp;&nbsp;|&nbsp;&nbsp; {{site.subtitle}} <br/> 
  <span class="smaller">{{site.description}} </span><br/>
  <br/>
  {{ site.license-img }}<br/>

  <span class="smaller">&copy;&nbsp;<a href="{{ site.baseurl }}/credits/">{{ site.time | date: '%Y' }}&nbsp;{{ site.author }}</a></span>
</div>  
</footer>