<!--- Header and nav template site-wide -->
<header>
  <nav class="group logo-wrap">
		<a href="{{site.baseurl}}/" class="logo"><img class="badge" src="{{site.baseurl}}/assets/img/{{ site.badge }}" alt="JDM"></a>
		<h1 class="websitetitle"><a href="{{site.baseurl}}/">{{ site.title }}</a></h1>
	</nav>
	<nav class="bottom-group">
	{% assign pages = site.pages | sort:"weight"  %}
	{% for node in pages %}
		{% if node.nav_include %}
		    {% if page.url == node.url %}
		      <a class="active" href="{{node.url | prepend: site.baseurl}}" class="active">{% if node.shorttitle %}{{node.shorttitle}}{% else %}{{node.title}}{% endif %}</a>
		    {% else %}
		      <a href="{{node.url | prepend: site.baseurl}}">{% if node.shorttitle %}{{node.shorttitle}}{% else %}{{node.title}}{% endif %}</a>
		    {% endif %}
	    {% endif %}
  	{% endfor %}
	</nav>
</header>