<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="full-width cv">
    {% include header.html %}
    <article>
      {{ content }}
    </article>
    {% include print-footer.html %}
    {% include footer.html %}
    <script>
      // set an element
      //$("#todaydate").val( moment().format('D MMM YYYY') );

      // set a variable
      var todaydate = moment().format('D MMMM, YYYY');
     
      // insert today into 
      document.getElementById("todaydate").innerHTML = todaydate
    </script>
  </body>
</html>
